<form>
    <label>Name of Group</label>
    <input />
    <br />

    <label>Size of Group</label>
    <input />
    <br />

    <label>Email Address</label>
    <input />
    <br />

    <label>Phone Number</label>
    <input /> <!--OPTIONAL-->
    <br />

    <button type="submit">Submit Info</button>
    <!--WANT TO RETURN USER TO HOMEPAGE/INDEX-->
</form>