@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Layton, UT Temple Tours</h1>
    <img src="~/img/LaytonTemple.jpg" alt="Layton Temple" style="width: 50%" />
    <p style="width: 80%">PLEASE SIGN-UP FOR SUNDAY TOURS ONLY.  WE WILL SOON HAVE A NEW SCHEDULE SINCE WE HAVE BEEN ASKED TO STOP ALL OUTSIDE TOURS. Please review the available slots ON SUNDAY ONLY and click on the button to sign up. Use the "quantity" field to let us know how many people will be in your group. Thank you!</p>
    <h5>General Tour Instructions</h5>
    <ul>
        <li>Masks are required.</li>
        <li>Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.</li>
        <li>Dress casual, except on Sunday</li>
    </ul>
    <br />
    <h5>Special Accommodations</h5>
    <ul>
        <li>Spanish-speaking tours are available on Thursday, Friday, Saturday or Sunday</li>
    </ul>
    <br />
    <h5>General Tour Instructions</h5>
    <ul>
        <li>Tour (Outdoor): We have been asked to discontinue outside tours at this time.</li>
        <li>Trailer Tour: All tours will be inside the trailer. Masks are required</li>
    </ul>
    <br />
    <h5>Please call 801-628-4488 or email LaytonTempleTours@gmail.com with questions or special requests.</h5>
</div>
