@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Layton, UT Temple Tours</h1>
    <!--image-->
    <img class="rounded" src="~/img/LaytonTemple.jpg" alt="Layton Temple" style="width: 50%" />
    <br /><br />
    <!--short description-->
    <h6 class="text-center" style="width: 100%">PLEASE SIGN-UP FOR SUNDAY TOURS ONLY.  WE WILL SOON HAVE A NEW SCHEDULE SINCE WE HAVE BEEN ASKED TO STOP ALL OUTSIDE TOURS. Please review the available slots ON SUNDAY ONLY and click on the button to sign up. Use the "quantity" field to let us know how many people will be in your group. Thank you!</h6>
    <br />
    <!--button to send them to the sign up page-->
    <a class="btn btn-secondary" asp-action="SignUp" asp-controller="Home">Sign Up!</a>
    <br /><br />
    <!--creates a container to organize all the instructions for the tour and format them-->
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <h5>General Tour Instructions</h5>
                <ul class="list-group text-center">
                    <li class="list-group-item">Masks are required.</li>
                    <li class="list-group-item">Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.</li>
                    <li class="list-group-item">Dress casual, except on Sunday</li>
                </ul>
                <br />
                <h5>Special Accommodations</h5>
                <ul class="list-group">
                    <li class="list-group-item">Spanish-speaking tours are available on Thursday, Friday, Saturday or Sunday</li>
                </ul>
                <br />
                <h5>General Tour Instructions</h5>
                <ul class="list-group">
                    <li class="list-group-item">Tour (Outdoor): We have been asked to discontinue outside tours at this time.</li>
                    <li class="list-group-item">Trailer Tour: All tours will be inside the trailer. Masks are required</li>
                </ul>
                <br />
                <h5>Please call 801-628-4488 or email LaytonTempleTours@gmail.com with questions or special requests.</h5>
            </div>
            <div class="col">
            </div>
        </div>
    </div>


</div>
