<!--This page will display the available times.-->

@model AvailableTasksViewModel

@{
    ViewData["Title"] = "Sign Up";
}

<!--<div class="col-10">-->

    <!--TABLE-->
    <table class="table table-striped table-hover">
       
     
        <thead>
            <tr>
                <!--TABLE HEADERS-->
                <th class="font-weight-bold">Session Date</th>
                <th class="font-weight-bold">Session Time</th>
                <th class="font-weight-bold">Reserve</th>

            </tr>
        </thead>
        <tbody>
            <!--loops through all the available sign up times and calls the partial view to display the time-->
            @foreach (var i in Model.AreAvailable)
            {
                <partial name="SignUpSummary" model="i" />

            }

        </tbody>

</table>

<!--</div>-->
